.rcs-label{
	padding-top: 10px;
	padding-left: 5px;
	width: 150px;
	float: left;
	margin: 0px 15px 15px 0px;
}

.rcs-section-label{
	padding-left: 5px;
}
.rcs-form-item{
	width: 450px;
}

.rcs-input{
	width: 220px;
	padding-top: 10px;
	float: right;
}

.rcs-section{
	background-color: #D3D3D3;
    font-weight: bold;
}

/* .rcs-option{ */
/* 	width: 220px; */
/* 	padding-top: 10px; */
/* 	float: right; */
/* } */

/* .rcs-date{ */
/* 	width: 220px; */
/* 	padding-top: 10px; */
/* 	float: right; */
/* } */

/* .rcs-text-box{ */
/* 	width: 220px; */
/* /* 	height: 150px; */ */
/* 	padding-top: 10px; */
/* 	float: right; */
/* } */

/* .rcs-radio-button { */
/* 	width: 220px; */
/* 	padding-top: 10px; */
/* 	float: right; */
/* /*     min-width:30%; */ */
/* /*     max-width:40%; */ */
/* } */

