/* form items configuration style */
.form-items-row{
	.left-row{
		float : left;
		margin-right : 30px;
	}
	
	.left-row-clear-right{
		float : left;
		clear : right;
	}
	
	.left-row-clear-left{
		float : left;
		clear : left;
		margin-right: 30px;
	}
}

.email-form{
	padding-top: 10px;
}

.options-field{
	border-radius: 3px 3px 3px 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #EAEAEA;
	overflow: hidden;
	clear : left;
	width : 610px;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

}

.rcs.control-group {
	margin-bottom:10px;
}
/* end form items configuration style */